* {
    font-family: 'Open Sans', sans-serif;
    margin: 0px 0px 0px 0px;
}
.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;

}
nav {
    margin: 0px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.basic-color {
    color: #FD6E0A;
}

nav h2 {
    font-weight: 800;
    font-size: 45px;
    display: inline-block;
}

nav ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    padding-left: 25px;
}

.btn-primary {
    height: 50px;
    background: #FD6E0A;
    color: white;
    border-radius: 5px;
    border: 0px;
    /* padding: 18px 35px; */
    font-size: 20px;
    font-weight: 700;
}

.banner {
    margin: 0px 100px 0px 200px;
    align-items: center;
    display: block;
    display: flex;
}

.banner h3 {
    font-weight: 600;
    font-size: 45px;
}

.banner h1 {
    font-weight: 700;
    font-size: 85px;
}

.mary {
    padding: 20px 0px;
}

.banner p {
    color: #757575;
    font-weight: 400;
    font-size: 18px;
}